<div class="flex-container">
  <div class="card">
    <h1>Numonic</h1>
    <h3>A password generator for the numerically interested.</h3>
    <br>
    <p><b>Number:</b> <%= @password.number %></p>
    <p><b>Fact:</b> <%= @password.fact %></p>
    <p>Your memorable password:  </p>
    <p id="password">
      <%= @password.password %>
    </p>
  </div>
</div>
