<h1>Numonic</h1>
<h3>A password generator for the numerically interested.</h3>

<p>Your memorable number: <%= @password.number %></p>
<p>Your memorable fact: <%= @password.fact %></p>
<p>Your memorable password: <%= @password.password %></p>
